<nav class="sidebar" id="sidebar">
  <div class="sidebar-header">
    <span class="sidebar-title"><img align="left" src="../assets/img/gastu_logo.jfif" width="50">Gastu</span>
    <button id="toggleBtn">&#9776;</button>
  </div>
  <ul class="sidebar-menu">
    <li><a href="../dashboard.html"><span class="icon">🏠</span><span class="text">Inicio</span></a></li>
    <li><a href="#"><span class="icon">💰</span><span class="text">Ingresos</span></a></li>
    <li><a href="#"><span class="icon">📉</span><span class="text">Gastos</span></a></li>
    <li><a href="#"><span class="icon">🎯</span><span class="text">Presupuesto</span></a></li>
    <li><a href="#"><span class="icon">📊</span><span class="text">Reportes</span></a></li>
  </ul>
  <div class="sidebar-footer">
    <a href="#"><span class="icon">❓</span><span class="text">Ayuda</span></a>
    <a href="#" class="active"><span class="icon">👤</span><span class="text">Perfil</span></a>
    <a href="#"><span class="icon">🤖</span><span class="text">Chatbot</span></a>
  </div>
</nav>